<div class="block-heading-two">
  <h1><span>Fragit User</span></h1>
      <hr>
  <div class='container'>    
    <div class="col-md-4 col-sm-8">  
      <p><img src="<%= @user.user_image %>"  alt="" style="width:150px;height:150px;"/></p>
    </div>   
  <div class="col-md-4 col-sm-8">  
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <p><%= @user.email %></p>
      <p><a href=<%= "/profiles/#{@user.id}/edit" %>>Edit Your Profile</a></p> 
      <p><a href="/profiles">Back to Profiles</a></p>
  </div>
  <div class="col-md-4 col-sm-8"> 

  </div>
  </div>    
      <hr>  
  <div class='container'>
    <div class="img">
      <div class="img-box-4 text-center">
        <div class="row">

          <h2>Your Items for Sale</h2>
            <% @user.items.each do |item| %>
            <div class="col-md-3 col-sm-6" style="width:287.5px;height:400px;">

              <div class="img-box-4-item">
             
                <a href="#" class="lightbox">
                <%= image_tag(item.get_first_image, width: '240', height: '190', ) %></a>
              
                <div class="img-box-4-content">
                
                  <div class="bor bg-red"></div>
            
                  <h4>Name: <a href="/items/<%= item.id %>"><%= item.name %></a></h4>
                    <p>Date Posted: <%= item.friendly_created_at %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class='container'>
    <div class="img">
      <div class="img-box-4 text-center">
        <div class="row">
          <h2>Your Pending Requests</h2>
            <% @user.requests.each do |request| %>
            <div class="col-md-3 col-sm-6" style="width:287.5px;height:400px;">

              <div class="img-box-4-item">
             
              <a href="#" class="lightbox">
              <%= image_tag(request.get_first_image, width: '240', height: '190', ) %></a>

                <div class="img-box-4-content">

                  <div class="bor bg-lblue"></div>


                  <h4>Name: <a href=<%= "/requests/#{request.id}/edit" %>><%= request.name %></a></h4>
                  <p><%= request.created_at %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>        
    <hr>
      <div class='container'>
        <div class="img">
          <div class="img-box-4 text-center">
            <div class="row">
              <h2>Images You've Submitted</h2>
              <% @user.images.each do |image| %>
                <div class="col-md-3 col-sm-6" style="width:287.5px;height:300px;">

                  <img src="<%= image.url %>" class="img-responsive" style="width:287.5px;height:275px;"/>
                </div>
              <% end%>
            </div>
          </div>
        </div>
      </div>
    <hr>
      <div class='container'>
        <div class="img">
          <div class="img-box-4 text-center">
            <div class="row">
              <h2>Your Lineage Keys</h2>
                <% @user.holders.each do |holder| %>
                <div class="col-md-3 col-sm-6" style="width:287.5px;height:450px;">

                  <div class="img-box-4-item">
                 
                  

                    <div class="img-box-4-content">
      
                      <h4><a href=<%= "/holders/#{holder.id}" %>><%= holder.specimen.name %></a></h4>
                      <div class="bor bg-green"></div>

                        <% holder.sold_tos.each do |sold_to| %>
                        <h4><a href="/profiles/<%= sold_to.user_id %>"><%= sold_to.user_full_name %></a></h4>
                      <% end %>

                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>      
    </div>
   <hr> 
  <div><h4><a href="/profiles">Back to Profiles</a></h4>
  </div>
