<h1>Fragit User </h1>

<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h3><%= @user.email %></h3>
<h3><a href=<%= "/profiles/#{@user.id}/edit" %>>Edit Your Profile</a></h3> 
<hr>
  <h3>Your Items for Sale</h3>
    <% @user.items.each do |item| %>
  <h4><a href=<%= "/items/#{item.id}/edit" %>><%= item.name %></a></h4>
<% end %>
  
<hr>
  <h3>Your Pending Requests</h3>
    <% @user.requests.each do |request| %>
  <h4><a href=<%= "/requests/#{request.id}/edit" %>><%= request.name %></a></h4>
  <% end %>
    <hr>

  <h3>Your Lineage Keys</h3>
    <% @user.holders.each do |holder| %>
  <h4><a href=<%= "/holders/#{holder.id}" %>><%= holder.specimen.name %></a></h4>
  <% end %>
    <hr>

  <h3>Images You've Submitted</h3>
    <% @user.images.each do |image| %>
  <H4><img src="<%= image.url %>" class="img-responsive"/>
  <% end%></H4>
  <hr> 


<h4><a href="/profiles">Back to Profiles</a></h4>