<div class="block-heading-two">
  <h3><span>Edit Existing Specimens</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 text-center">
      <%= form_tag "/specimens/#{@specimen.id}", method: :patch do %>
    
        <div>
          <%= label_tag :name %>
          <%= text_field_tag :name, @specimen.name %>
        </div>


        <div>
          <%= label_tag :scientific_name %>
          <%= text_field_tag :scientific_name, @specimen.scientific_name %>
        </div>
        
        <div>
          <%= label_tag :designation %>
          <%= text_field_tag :designation, @specimen.designation %>
        </div>
      <div>
        <%= submit_tag "Edit Specimens" %>
      </div>
    </div>
  </div>
</div>
  <% end %>