<h1>Index of Requests by Users</h1>

<div class="container">
  <div class="img">
    <div class="img-box-4 text-center">
      <div class="row">
      
      <h4><a href="/requests/new">Post a New Request-</a> Not a member?<a href="/users/sign_up"> Sign Up!</a></h4>
        <% @requests.each do |request| %>
          <div class="col-md-3 col-sm-6" style="width:287.5;height:450px">

            <div class="img-box-4-item">
                  
              <a href="/requests/<%= request.id %>" class="lightbox">
              <%= image_tag(request.get_first_image, width: '240', height: '190') %></a>
                
                <div class="img-box-4-content">
                
                    <h4>Name: <a href="/requests/<%= request.id %>"><%= request.name %></a></h4>
                  
                  <div class="bor bg-lblue"></div>

                    <p>Specimen: <a href="/specimens/<%= request.specimen.id %>"><%= request.specimen.name %></a></p>
                    <p>User/Poster: <a href="/profiles/<%= request.user.id %>"><%= request.user_full_name %></a></p>
                    <p>Price: <%= request.price %></p>
                    
                </div>
              </div>
            </div>
          <% end %>
        </div>  
      </div>
    </div>
  </div>
    