<div class="block-heading-two">
  <h3><span>Make a Request</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 text-left">
      <%= form_tag '/requests', method: :post do %>

        <div>
          <%= label_tag :name %>
          <%= text_field_tag :name %>
        </div>

        <div>
          <%= label_tag :description %>
          <%= text_field_tag :description %>
        </div>

        <div>
          <%= label_tag :price %>
          <%= text_field_tag :price %>
        </div>
        
        <div>
          <%= label_tag :shipping %>
          <%= text_field_tag :shipping %>
        </div>

        <div>
          <%= label_tag :image %>
          <%= text_field_tag :image %>
        </div>

        <div>
          <%= label_tag :specimen %>
          <%= collection_select(:specimen, :specimen_id, @species, :id, :name, prompt: true) %>
        </div>
          <div>
            <%= submit_tag "Submit Request" %>
          </div>
            <h4><a href="/requests">Back to Index</a></h4>
      </div> 
    </div>
  </div>
</div>  
  <% end %>