<h3>Request information</h3>

  <h3>Description: <%= @request.description %><h3>
  <h3>Price: <%= @request.price %></h3>
  <h3>Location: <%= @request.location %></h3>
  <h3>Ships? <%= @request.shipping %></h3>
  <h3>User/Poster: <a href="/profiles/#{@user.id}"><%= @request.user_full_name %></h3>
<hr>  
<h4><a href="/requests">Back to Index</a></h4>
<h4><%= link_to "delete", "/requests/#{@request.id}", method: :delete, data: {confirm: "Are you sure?"} %></h4>