<div class="block-heading-two">
  <h3><span>Request information</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 text-center">
        <p class="para-big">Name: <a href="/requests"><%= @request.name %></a></p>

        <p>Specimen: <a href="/specimens/<%= @request.specimen.id %>"> <%= @request.specimen.name %></a></p>
        <p>User/Poster: <a href="/profiles/<%= @request.user.id %>"><%= @request.user_full_name %></a></p>
        <p>Description: <%= @request.description %><p>
        <p>Price: <%= @request.price %></p>
        <p>Location: <%= @request.location %></p>
        <p>Ships? <%= @request.shipping %></p>
        <p>If this is your posting: <%= link_to "Edit", "/requests/#{@request.id}/edit"%></p>
          <br/>

        <h4><a href="/requests">Back to Index</a></h4>
          </div>
            <div class="col-md-5 col-sm-6 text-left">
              <% @request.images.each do |image| %>
              <a href="/images/<%= image.id %>"><img src="<%= image.url %>" alt="" style="width:350px;height:350px;"/></a>
              <% end %>
            </div>
    </div>        
  </div>
</div> 

 
