<h1>Index of Items posted by Users</h1>

<h3>
  <div>
    <% @items.each do |item| %>
      <h3>Description: <a href="/items/<%= item.id %>"><%= item.description %></a><h3>
      <h3>Price: <%= item.price %></h3>
      <h3>Location: <%= item.location %></h3>
      <h3>Shipping: <%= item.shipping %></h3>
      <h3>Webcam: <%= item.webcam_source %></h3>
      <h3>User/Poster: <a href="/profiles/#{@user.id}"><%= item.user_full_name %></a></h3>
      <hr>
    <% end %>
  </div>
</h3>
    