<div class="block-heading-two">
  <h3><span>Item Information</span></h3>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 text-center">
        <p class="para-big">Name: <a href="/items"><%= @item.name %></a></p>
        <p>Specimen: <a href="/specimens/<%= @item.specimen.id %>"> <%= @item.specimen.name %></a></p>
        <p>Lineage Coral: <a href="/holders/<%= @item.holder.id %>"><%= @item.holder_name %></a></p>

        <p>User/Poster: <a href="/profiles/<%= @item.user.id %>"><%= @item.user_full_name %></a></p>
        <p>Description: <%= @item.description %></p>
        <p>Price: <%= @item.price %></p>
        <p>Location: <%= @item.location %></p>
        <p>Ships? <%= @item.shipping %></p>
        <p><%= link_to "Edit", "/items/#{@item.id}/edit"%></p>
              <br/>
        <h4><a href="/items">Back to Index</a></h4>
          </div>
            <div class="col-md-5 col-sm-6 text-left">
              <% @item.images.each do |image| %>
              <a href="#"><img src="<%= image.url %>"  alt="" style="width:300px;height:300px;"/></a>
              <% end %>
            </div>  
      </div>
    </div>
  </div>   
</div>






  
  
  

