<h1>Lineages of Specimens Held By Fragit Users</h1>
<div class='container'>
  <div class="img-box-4 text-center">
    <div class="row">

    <h3>About... the future of the hobby is rooted firmly in our ability to aquaculture corals. Our Lineage tracking system was concieved with the aim of tracking specific strains of coral as they move through the hobby. The end goal is two-fold; first, we'd like see how strains adapt to captivity. Secondly, Fragit is a tool to verify the lineage of available specimens.</h3>
  
      <div><a href="/holders/new">Submit a new Lineage Key</a></div>

    <hr>
        <div>
          <% @holders.each do |holder| %>
            <div class="col-md-3 col-sm-6" style="width:287.5px;height:350px;">

              <div class="img-box-4-content">
   
                <div class="bor bg-green"></div>
                  <p>User: <a href="/profiles/<%= holder.user.id %>"><%= holder.user_full_name %></a></p>
                  <p>Name of Strain/Lineage: <a href="/holders/<%= holder.specimen.id %>"><%= holder.specimen.name %></a></p>
                  <p>Date Acquired: <%= holder.date_acquired %></p>
                 
                  <p>Divisions: <%= holder.sold_tos.length %></p>

              </div>
            </div>   
          <% end %>
        </div>    
      </div>
    </div>
  </div>
